@model IEnumerable<OpticaSanfrancisco.Models.Productos>


<h1> Lista de Productos</h1>

<p>
    <a asp-action="Create">Crear Nuevo Producto</a>
</p>
<table class="table" style="margin-left: -10%;">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Familia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diseño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion_Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Talla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kalibre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrip_Color)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Familia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diseño)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion_Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Talla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kalibre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrip_Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary" style="width: 100%;">Editar</a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary" style="width: 100%;">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger" style="width: 100%;">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>


<p>
    <a asp-action="Documento">GENERAR PDF</a>
</p>

