@model IEnumerable<OpticaSanfrancisco.Models.Productos>

<div>
  <h1 style="background: #A9D0F5; color:#FFFFFF; text-align: center;">Catálogo</h1>
</div>

 <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol> -->

  <!--  
  <div class="carousel-inner" role="listbox">
    <div class="item active" >
      <img src="~/Img/Productos/promo4.png"   alt="...">
      
    </div>
   
    </div>-->
    

<nav aria-label="" class="d-grid gap-2 col-6 mx-auto" style="padding: 50px;">
  <ol class="breadcrumb"style="background: #FFFFFF; ">
    <li class="breadcrumb-item active" aria-current="page">Lentes de Sol</li>
    <li class="breadcrumb-item"><a href="#">Lentes de Contactos</a></li>
    <li class="breadcrumb-item"><a href="#">Lentes Oftálmicos</a></li>
    
  </ol>
</nav>


<h1>@ViewData["Title"]</h1>

  <div class="container">
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model) {
            <div class="col-sm-4">
              <div class="card border-primary mb-3">
                <div class="card-body">
                  <div class="card-img-actions" >
                    <img class="img-responsive"  style="width: 100%;"
                       src="/img/@item.ImagenName" alt="@item.ImagenName"  />
                  </div>
                </div>
                <div class="card-body" style="text-align: center;">
                  <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                  <p class="card-text">S/. @Html.DisplayFor(modelItem => item.Price)</p>
                  <a class="btn btn-primary" asp-action="Add" asp-route-id="@item.ID">Agregar a carrito</a>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>



  