@model IEnumerable<OpticaSanfrancisco.Models.Productos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="margin-left: -10%;">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            
             <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>


            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>



           
        </tr>
}
    </tbody>
</table>


<p>
    <a asp-action="Documento">GENERAR PDF</a>
</p>

