@model IEnumerable<OpticaSanfrancisco.Models.Proforma>
@{
    ViewData["Title"] = "En Proceso";
}
<section id="catalogue" class="catalogue section-bg" style="text-align: center;">
<div class="container">
 
    <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Proceso de Pago</h2>
        </div>


    

    <table class="table table-hover">
    <thead class="tables">
        <tr>
              <th scope="col">
                    @Html.DisplayNameFor(model => model.Producto.Imagen)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Producto.Codigo)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
        </tr>
    </thead>
	@foreach (var item in Model)
	{
        //@if (item.Email == @User.Identity.Name)
        //{
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            </tr>
        //}
	}
    </tbody>    
</table>
  <div class="row" style="text-align: center;" >
    <div class="col-md-1 order-md-1"></div>
    <div class="col-md-10 order-md-1">
      <h4 style="text-align: center;" class="mb-3 colorForm">Facturación</h4>
      <form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-md-6 mb-3 formM">
            <label for="firstName" class="colorForm">Primer Nombre</label>
            <input type="text" class="form-control" id="firstName"  placeholder="Ingresa tu nombre" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3 formM">
            <label for="lastName" class="colorForm">Apellidos</label>
            <input type="text" class="form-control" id="lastName" placeholder="Ingresa tu apellido" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3 formM">
          <label for="email" class="colorForm">Email</label>
          <input type="text" class="form-control" id="email" placeholder="Ingresa tu correo you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>
        

        <div class="mb-3 formM">
          <label for="address" class="colorForm">Dirección</label>
          <input type="text" class="form-control" id="address" placeholder="Ingresa tu dirección 1234 Main St" required="">
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3 formM">
          <label for="address2" class="colorForm">Dirección <span class="text-muted">(Opcional)</span></label>
          <input type="text" class="form-control" id="address2" placeholder="Ingresa tu dirección">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3 formM">
            <label for="country" class="colorForm">Pais</label>
            <select class="custom-select d-block w-100" id="country" style="height: 45px;" required="">
              <option value="">Elegir...</option>
              <option>Perú</option>
            </select>
            <div class="invalid-feedback">
              Selecciona un pais valido
            </div>
          </div>
          <div class="col-md-4 mb-3 formM">
            <label for="state" class="colorForm">Departamento</label>
            <select class="custom-select d-block w-100" style="height: 45px;" id="state" required="">
              <option value="">Elegir...</option>
              <option>Arequipa</option>
            
            </select>
            <div class="invalid-feedback">
             Selecciona un departamento
            </div>
          </div>
          <div class="col-md-3 mb-3 formM">
            <label for="zip" class="colorForm">Zip</label>
            <input type="text" class="form-control" id="zip" style="height: 45px;" placeholder="Ingresa el Zip" required="">
            <div class="invalid-feedback">
             El Zip es requerido
            </div>
          </div>
        </div>
        <hr class="mb-4">

       
       <p>
    <a asp-action="Documento">COMPRAR AHORA</a>
</p>
        </form>
    </div>
  </div>
  <div class="col-md-1 order-md-1"></div>
 </div> 
 </section>




 